@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}

.custom-radio {
  appearance: none;
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border: 2px solid #969696;
  border-radius: 9999px;
  position: relative;
  cursor: pointer;
}

.custom-radio:checked {
  border-color: #000000; /* dark border */
}

.custom-radio:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: #DAB619; /* gold */
  border-radius: 9999px;
  transform: translate(-50%, -50%);
}
